/node_modules
/vendor
/storage/*.key
.env
.git
.phpunit.result.cache
docker-compose.yml
Dockerfile
.dockerignore
npm-debug.log
/public/hot
/public/storage
/public/build
/storage/framework/cache/data/*
/storage/framework/sessions/*
/storage/framework/testing/*
/storage/framework/views/*
/storage/logs/*.log
/database/*.sqlite
/database/*.sqlite-journal
